extends layout 

block sidebar
  if data
    each item in data 
      a.list-group-item(href='/note/'+item.id)= item.title
//-   //- a.list-group-item(href='#') To do
//-   //- a.list-group-item(href='#') Work
//-   //- a.list-group-item(href='#') Idea
//-   //- a.list-group-item(href='#') Tricks